/*	****************************************
	Base
	**************************************** */
p { margin-top: 0; }

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}

/*	****************************************
	Layout
	**************************************** */

#first{
	background-image: url("../images/zback.jpg");
}

.card {
	display: flex;
	padding: 50px;
	margin: 30px 0 10px 0;
	width: 60%;
	margin-left: 15%;
}

/*	****************************************
	State
	**************************************** */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: solid 2px white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.avatar {
    padding: 2px 16px;
}